extends ./../app

block content
  .row
    .col-md-6.mx-auto.mt-4.text-center
      img.mb-3(src='/assets/img/error.png')
      h3.text-info SOMETHING WENT TO SPACE!
      h5.text-muted #{msg}
      a.btn.btn-info.mt-2(href='/') Go Back to Site