.container-fluid
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='#') Tourify
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#nav-collapse')
			span.navbar-toggler-icon
		#nav-collapse.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='#')
						| ALL TOURS
			ul.navbar-nav.my-2.my-lg-0
				li.nav.item.mr-2
					button.btn.btn-outline-info.btn-sm SIGN IN
				li.nav.item
					button.btn.btn-outline-success.btn-sm SIGN UP
				li.nav.item.ml-2
					a.nav-link(href='#')
						img.rounded-circle.img-fluid(src='assets/img/users/user-21.jpg' width='30')
						|  Rizky Irmawan