extends ./appEmail

block content
	tr
		td.wrapper
			table(role="presentation" border="0" cellpadding="0" cellspacing="0")
				tr
					td
						p Hi, #{firstName}!
						p(align='justify')  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nihil tempora nobis beatae! Suscipit asperiores omnis velit vero, magni officiis reprehenderit? Tempora, nemo? Culpa odio sed eius laudantium itaque excepturi quisquam tenetur nesciunt, modi, libero eveniet at facere pariatur laboriosam, perspiciatis dicta. Veritatis, repellat esse.
						table.btn.btn-primary(role="presentation" border="0" cellpadding="0" cellspacing="0")
							tbody
								tr
									td(align="left")
										table(role="presentation" border="0" cellpadding="0" cellspacing="0")
											tbody
												tr
													td(align='center')
														a(href=`${url}` target="_blank") Reset Password
						p(align='justify') Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, amet excepturi? Consequatur ad hic accusamus, molestiae expedita quas porro nihil, quia nulla deserunt fugiat temporibus.
						p
							b Note: This token is only valid for 20 minutes. 
							| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ut quo est quisquam!